.s1{    
    background-image:url('../../public/assets/media/misc/menu-header-bg.jpg')
}

.s2{    
    background-color: #3E97FF;background-image:url('../../public/assets/media/svg/shapes/widget-bg-1.png')
}
.s3{
    width: 72%;
}
.s4{
    min-width: 70px; min-height: 70px
}
.s5{
    background-color: #E4E6EF
}
.s6{
    height: 275px
}

.s7{
    height: 275px
}

.s8{
    height: 300px


    
}
.s9{
    border-radius: 4px
}

.s10{
    background-color: #202B46; background-image:url('../../public/assets/media/svg/shapes/widget-bg-2.png')
}

.app-sidebar-toggle {
    background-color: var(--bs-app-sidebar-dark-toggle-btn-bg-color);
}